h3{
   border: 5px solid blue;
}
p{
  color: red;
}
.heading4{
   color: red;
}
.bg_color{
	background-color: green;
}
#heading1{
	font-size: 60px;
	color:red;

}
#heading2{
	font-size: 55px;
	color: blue;

}